body {
    margin: 0;
}


.chara-title {
    font-family: 'Poiret One', cursive;
    font-size: 43pt;
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 3%;
}

.chara-container {
    width: 100%;
    height: 60%;
    top:0;
    left:0;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;

}

.chara-name-input {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 5px;
    margin-left: 5%;
}

.chara-name-input__control {
    width: 100%;
    margin-left: 10px;
    border:none;
    font-size: 14pt;
}

.chara-name-input__control:focus {
    outline: none;
}

.chara-name-input__magnifier {
    margin: 3px;
}

.chara-parameters-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
    font-size: 20pt;

}

.chara-parameter {
    margin: 7%;
    margin-left: 23%;
}

.chara-container__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.chara-container__right__img {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10%;
    margin: 2%;
}

.story-title {
    margin: 0;
    margin-right: 7%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 43pt;
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.story-container {
    width: 100%;
    height: 60%;
    top:0;
    left:0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
}


.story-name-input {
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 5%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 5px;
}

.story-name-input__control {
    width: 100%;
    margin-left: 10px;
    border:none;
    font-size: 14pt;
}

.story-name-input__control:focus {
    outline: none;
}

.story-name-input__magnifier {
    margin: 3px;
}

.story-parameters-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
    font-size: 20pt;

}

.story-parameter {
    margin: 7%;
    margin-right: 23%;
}

.story-container__left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.story-container__left__img {
    height: 120px;
    width: 680px;
    border: 1px solid black;
    border-radius: 7%;
    margin: 3%;
}